<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    	<link href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.black.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/assets/css/main.css" rel="stylesheet" />
	<link href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.dataviz.black.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2017.2.504/js/jszip.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
                    <li>@Html.ActionLink("FASHION", "Fashion", "Home")</li>
                    <li>@Html.ActionLink("LIFESTYLE", "LifeStyle", "Home")</li>
                    <li>@Html.ActionLink("FOOD", "Food", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="page-buffer"></div>
        <div id="footer">
            <div class="container">


                <ul class="icons">
                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Crafted: <a href="http://designscrazed.org/">HTML5</a>.</p>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>
